*.pdf
*.log
*.o
*.so
.vscode/
vcpkg/
vcpkg_installed/
*Makefile
test*

# CMake
build/
vcpkg/
vcpkg_installed/

# Documentation
docs/html/
docs/latex/
technical_documentation.html

# Executables
r-type_client
r-type_server
